#div-header{
    padding-left: 0px;
    padding-right: 0px;
  }
  .ml-10{
    margin-left: 10rem;
  }
  .card-footer i{
    position: relative;
    bottom: 2rem;
  }
  .txt-bold{
    font-weight:500;
  }
  .mr-4 a{
    font-weight:450;
  }